.my-navbar{
      background-color: #00a087;
      box-shadow: 2px 2px 2px #888888;
}
.my-navbar .navbar-brand{
    margin-top: -10px;
}
.my-navbar a{
    text-decoration: none;
    color:white;
}
.my-navbar li{
    color:white;
    margin-left:10px;
    font-size:1.2em;
}
.my-navbar form{
    margin:2px;
    position: relative;
}
.my-navbar .icon {
    position: absolute;
    left:20;
    top:20%;
}
.my-navbar input.form-control{
    border-radius:5px;
    /* width:350px; */
    margin-right:5px;

}
.mu-navbar input.btn{
border-radius: 5px;
}