<div class="Mainsearch">
  <div class="container">
    <form>
      <div class="fields">
        <p class="leftp">Search photographer:</p>

          <div class="row">
        <div class="form-group col-md-8">
        <input type="text" size="50" maxlength="50" class="form-control " id="srchQry"
          placeholder="Search a photographer...">
        </div>
         <div class="col-md-3 form-group srchbtn">
           <input class="btn btn-default " type="submit" value="Search" style="font-size:120%;">
         </div>
        </div>
        <div class="selects">
          <p>Category:</p>
          <select name="Category">
            <option value="all">All</option>
            <option value="wedding">Wedding</option>
            <option value="portrait">Portrait</option>
            <option value="commercial">Commercial</option>
            <option value="journalism">Journalism</option>
            <option value="portrait">Portrait</option>
            <option value="travel">Travel</option>
            <option value="fa">Fine Art</option>
            <option value="makeup">Makeup</option>
            <option value="fashion">Fashion</option>
          </select>
        </div>
        <div class="selects">
          <p>Rate:</p>
          <select name="Rate">
            <option value="1">1+</option>
            <option value="2">2+</option>
            <option value="3">3+</option>
            <option value="4">4+</option>
            <option value="5">5+</option>
            <option value="6">6+</option>
            <option value="7">7+</option>
            <option value="8">8+</option>
            <option value="9">9+</option>
            <option value="10">All</option>
          </select>
        </div>
        <div class="selects">
          <p>Sessions:</p>
          <select name="Projects">
            <option value="0">0</option>
            <option value="1">1+</option>
            <option value="2">2+</option>
            <option value="3">3+</option>
            <option value="4">4+</option>
            <option value="5">5+</option>
          </select>
        </div>
      </div>
    

  </form>
</div>
</div>