.panel {
  box-shadow: 2px 2px 8px#888888;
  width: 210px;
  margin: 25px;
  float: left;
  font-size:1.2em;
  padding:0px 10px;
}

.aside1img {
  margin: auto;
  border-radius: 50%;
  width:50%;
  display:block;
  max-width: 100%;
  height: auto;
}
figure {
  margin:20px 0px;
  width: 180px;
  text-align: center;
  padding: 0;
}
 figure:hover {
  opacity: 0.6;

}
ul.dashed>li {
  text-indent: -5px;
  margin:3px 10px;
  padding:2px;
}

ul.dashed>li:before {
  content: "- ";
  text-indent: -5px;
}

/* .panel:hover {
  box-shadow: 0px 5px 10px 2px #00a087;
} */
.centerBtn{
    text-align: center;
}
#panelBtn{
      background-color: #00a087;
      color: white;
      text-align: center;
      font-weight: bold;
}
#panelBtn:hover {
      box-shadow: none;
      border: 2px solid #00a087;
      color: #00a087;
      background-color: white;
}